body {
    background-image: url(files/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 2rem 0.5rem;
}
header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
/* containers in the header */
.logo-image {
    border: 1px aqua solid;
    /* somehow it works to make a right header*/
    /* flex: 30%; */
}
nav {
    flex: 60%;
    border: 1px red solid;
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}
.shopping-cart {
    position: relative;
    bottom: 0;
    right: 0;
    border: 1px red solid;
}
/* aside + main */
aside {
    display: inline-block;
    padding: 0;
    margin-left: 0;
    border: 1px red solid;
}
aside ul {
    padding: 0;
    margin: 0;
}
main {
    border: 1px purple solid;
    display: inline-block;
    margin: 4rem;
}
/* other elements */
a {
    color: grey;
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* Divs with images */
.logo-image img {
    width: 6rem;
}
.main-image-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
.main-image-container img {
    height: 30%;
    width: 500px;
    border: 1px red solid;
}
/* Buttons */
.button-collections {
    color:white;
    background-image: linear-gradient(to right, #9BA3F7, #BAB1E7, #F879D5);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
}
.button-collections:hover {
    background: white;
    opacity: 0.1;
}